
#dialog {
	font-size: 13px;
}

/*.ui-dialog {*/
	/*z-index: 50000 !important;*/
/*}*/

#left {
    width:250px;
    float:left;
    padding: 20px;
}
#right {
    width:250px;
    float:left;
    padding: 20px;
}